.btn-info {
    color: #fff;
    background-color: #686d6f;
    border: none;
    width: 100%;
    box-shadow: 0px 0px 10px 2px #b3b1b1;
    text-transform: uppercase;
}
body{
	background: rgba(4, 4, 4, 0.84);
}
h3{
	    color: white;
    margin-top: 61px;
}

/***quarry***/
@media (min-width: 1200px){

.container {
    width: 1170px;
    margin-top: 20px;
}

}
@media (min-width: 992px){

.container {
    width: 970px;
    margin-top: 20px;
}

}
@media (min-width: 500px){

.container {
    
    margin-top: 20px;
}

}
/***quarry***/